(
    prefabs: {
        "player" : (
            type: "Player",
            fields: {
                "sprite" : String("sprites/bevy-icon.png"),
                "position" : String("(0, 0)"),
                "speed" : Number(300.0),
            }
        ),
        "pig_parent" : (
            type: "PigParent",
            fields: { },
       )
    }
)